<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wanyue.shop">

    <application>
        <activity
            android:name=".view.activty.PaymentWebViewActivity"
            android:exported="false" />
        <activity
            android:name=".store.view.activity.StoreHomeActivity"
            android:exported="true" />
        <activity
            android:name=".view.activty.GetCouponActivity"
            android:exported="true" />
        <activity
            android:name=".view.activty.MyCouponActivity"
            android:exported="true" />
        <activity
            android:name=".store.view.activity.BusniessStoreActivity"
            android:exported="true" />
        <activity
            android:name=".view.activty.GoodsFootActivity"
            android:exported="true" />
        <activity
            android:name=".store.view.activity.StoreListActivity"
            android:exported="true" />
        <activity
            android:name=".view.activty.GoodsVideoActivity"
            android:exported="true" />
        <activity
            android:name=".store.view.activity.SearchStoreActivity"
            android:exported="true" />
        <activity
            android:name=".store.view.activity.StoreActivity"
            android:exported="true" />
        <activity
            android:name=".view.activty.GreateGoodsSearchActivity"
            android:exported="false" />
        <activity
            android:name=".evaluate.activity.EvaluateListActivity"
            android:exported="false" />
        <activity
            android:name=".view.activty.ViewLogisticsActivity"
            android:exported="false" />
        <activity
            android:name=".view.activty.RefundOrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.activty.RefundListActivity"
            android:exported="false" />
        <activity
            android:name=".view.activty.OrderRefundActivity"
            android:exported="false" />
        <activity
            android:name=".photo.activity.SelectPhotoActivity"
            android:exported="false" />
        <activity
            android:name=".evaluate.activity.PublishEvaluateActivity"
            android:exported="false" />
        <activity
            android:name=".view.activty.MyCollectGoodsActivity"
            android:exported="false" />
        <activity
            android:name=".view.activty.OrderPayResultActivity"
            android:exported="false" />
        <activity
            android:name=".view.activty.OrderDeatailActivity"
            android:exported="false" />
        <activity
            android:name=".view.activty.MyOrderActivity"
            android:exported="false" />
        <activity
            android:name=".view.activty.MyAddressActivity"
            android:exported="false" />
        <activity
            android:name=".view.activty.CreateAddressActivity"
            android:exported="false" />
        <activity
            android:name=".view.activty.CommitOrderActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="AppLinkUrlError">
            <intent-filter android:label="PayPal Callback">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="payment"
                    android:pathPrefix="/verify"
                    android:scheme="sandtoner" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activty.ShopCartActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="com.example.paypal" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activty.GoodsDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activty.ShopSearchActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
    </application>

</manifest>