<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.qcloud.tim.uikit">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        >
        <activity
            android:name=".component.video.CameraActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".component.video.VideoViewActivity"
            android:exported="false"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".component.photoview.PhotoViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.group.info.GroupInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.group.info.StartGroupMemberSelectActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".component.SelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.group.apply.GroupApplyManagerActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".modules.group.apply.GroupApplyMemberActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.tencent.qcloud.tim.uikit.modules.forward.ForwardSelectActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tencent.qcloud.tim.uikit.modules.forward.ForwardSelectGroupActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tencent.qcloud.tim.uikit.modules.search.SearchMainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tencent.qcloud.tim.uikit.modules.search.SearchMoreListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tencent.qcloud.tim.uikit.modules.search.SearchMoreMsgListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />


        <provider
            android:name=".utils.TUIKitFileProvider"
            android:authorities="${applicationId}.uikit.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public"/>
        </provider>

    </application>

</manifest>
